@model ForgotPasswordModel
@{
    ViewData["Title"] = "Login";
    Layout = "~/Views/Shared/_Account.cshtml";
}

<div class="login-outer">
    <a href="#" class="login-logo"><img class="img-fluid" src="~/images/logo.png" /></a>
    <div class="login-panel">
        <h1>Forgot Password</h1>
        <partial name="_StatusMessage" for="StatusMessage" />
        <form id="frmRegister" method="post" autocomplete="off">
            <fieldset class="form-group">
                <input type="text" asp-for="Email" class="form-control" placeholder="Email">
                <img src="~/images/password.png" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </fieldset>
            <fieldset class="form-group remember">
                <div class="logincheck">
                </div>
                <a asp-controller="Account" asp-action="Login">Already have an Account?  Log in</a>
            </fieldset>
            <button type="submit" class="btn login-btn">Submit</button>
        </form>
    </div>
</div>
@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}


