<div class="affiliate-section-bg" id="affiliatePartner">
    <div class="custom-container affiliate-section-abt">
        <h2 class="featured-heading">Our <span class="txt-red">Affiliates</span> Partners</h2>
        <div class="affiliate-line"></div>
        <div class="affiliate-img-block">
            <a href="https://blueinktitleagency.com/" target="_blank">
                <img src="~/realtyagancy/img/blueink.png" alt=""
                     class="img-fluid affiliate-img">
            </a>
            <a href="https://agents.farmers.com/az/yuma/valentin-guzman" target="_blank">
                <img src="~/realtyagancy/img/farmerinsurance.png" alt="" class="img-fluid affiliate-img">
            </a>
            <a href="https://paredes.pillartopost.com/" target="_blank">
                <img src="~/realtyagancy/img/pillartopost.png" alt=""
                     class="img-fluid affiliate-img">
            </a>
        </div>
    </div>
</div>