<footer class="footer-bg">
    <div class="custom-container">
        <div class="row footer-group">
            <div class="col-sm-12 col-md-2 footer-mobile-menu">
                <div class="footer-menu">
                    <h4>About the Agency</h4>
                    <ul>
                        <li><a asp-controller="Our-Company" asp-action="Index">Our Company</a></li>
                        <li><a asp-controller="Agents" asp-action="Index">Our Agents</a></li>
                        <li><a asp-controller="Culture" asp-action="Index">Culture</a></li>
                        <li><a asp-controller="JoinTRA" asp-action="Index">Join TRA</a></li>
                        <li><a asp-controller="Partners" asp-action="Index">Partners</a></li>
                        <li><a asp-controller="Blog" asp-action="Index">Blog</a></li>
                        <li>Advertise </li>
                    </ul>
                </div>
                <div class="footer-menu">
                    <h4>Virtual</h4>
                    <ul>
                        <li>Zoom Connect</li>
                        <li>Virtual Tours</li>
                        <li>3D Tours </li>
                    </ul>
                </div>
                <div class="footer-menu">
                    <h4>Community</h4>
                    <ul>
                        <li>Yuma Local</li>
                        <li><a asp-controller="Upcoming-Events" asp-action="Index">Upcoming Events</a></li>
                        <li><a asp-controller="Things-To-Do" asp-action="Index">Things To Do</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-sm-12 col-md-8 footer-right">
                <p>The Realty Agency is committed to ensuring digital accessibility for individuals with disabilities. We are continuously working to improve the accessibility of our web experience for everyone, and we welcome feedback and accommodation requests. If you wish to report an issue or seek an accommodation, please contact us.</p>
                <div class="footer-menu2">
                    <ul>
                        <li><a asp-controller="Home" asp-action="Index">Home</a></li>
                        <li><a asp-controller="Our-Company" asp-action="Index">About</a></li>
                        <li>Advertise</li>
                        <li><a asp-controller="TermsOfUse" asp-action="Index">Terms of use</a></li>
                        <li>Research</li>
                        <li><a asp-controller="PrivacyPolicy" asp-action="Index">Privacy Portal</a></li>
                        <li>Jobs</li>
                        <li><a asp-controller="Faq" asp-action="Index">Faq</a></li>
                    </ul>
                </div>

                <div class="footer-app">
                    <img src="~/realtyagancy/img/google-play.png" alt="google-play">
                    <img src="~/realtyagancy/img/app-store.png" alt="app-store">
                </div>

                <div class="footer-social">
                    <ul>
                        <li><a href="#"><img src="~/realtyagancy/img/fb.png" alt="facebook"></a></li>
                        <li><a href="#"><img src="~/realtyagancy/img/linkedin.png" alt="linkedin"></a></li>
                        <li><a href="#"><img src="~/realtyagancy/img/twitter.png" alt="twitter"></a></li>
                        <li><a href="#"><img src="~/realtyagancy/img/insta.png" alt="instagram"></a></li>
                    </ul>
                </div>
            </div>
            <div class="col-sm-12 col-md-1">
            </div>
        </div>
    </div>
    <div class="copyright small">
        <p>© 2020 therealtyagency. All rights reserved</p>
    </div>
</footer>