
@{
    ViewData["Title"] = "Index";
}

<div class="row">
    <div class="col-md-12">
        <div class="card custom-card overflow">
            <div class="col-md-12">
                <h2 class="main-head">Vehicles</h2>
                <button type="button" id="btnAddNewVehiclePopup" class="btn btn-sm btn-info mr-2">Add New</button>
                <hr />
                <table id="tblVehicle" class="table dt-responsive nowrap">
                    <thead>
                        <tr>
                            <th>VehicleID</th>
                            <th>VehicleName</th>
                            <th>Price</th>
                            <th>Description</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody></tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<partial name="_Create" model="@(new VehicleCreateModel())" />
<div id="editPartial"></div>
<script src="~/js/manage-vehicle.js"></script>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}