@{
    ViewData["Title"] = "Index";
}

<div class="row">
    <div class="col-md-12">
        <div class="card custom-card overflow">
            <div class="col-md-12">
                <h2 class="main-head">Company</h2>
                <button type="button" id="btnAddNewCategoryPopup" class="btn btn-sm btn-info mr-2">Add New</button>
                <hr />
                <table id="tblCompany" class="table table-striped table-bordered dt-responsive nowrap">
                    <thead>
                        <tr>
                            <th>Company ID</th>
                            <th>CompanyName</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody></tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<partial name="_Create" model="@(new CompanyCreateModel())" />
<div id="editPartial"></div>
<script src="~/js/manage-company.js"></script>
@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}




